body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* common */

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;

}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  ;

  position: absolute;
  left: 0;
  bottom: -1px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link:hover,
.address-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* section 1 */

.section-first {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;

}


.section-first-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 526px;
  /* max-width: 496px; */
  margin: 0 auto;

}

.button {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #404bbf;
  /* transition:  250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

/* section 2 */

.section-second {
  padding: 120px 0;
}

.section-second-container {}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}


.section-second-list {
  display: flex;
  gap: 24px;

}

.section-second-box-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

}

.section-second-icon {
  align-content: center;
}


.section-second-item {
  width: calc((100% - 3*24px)/4);
}


.section-second-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-second-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 3 */

.section-third {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-third-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-third-list {
  display: flex;
  gap: 24px;
}

.section-third-photo-caption {
  padding: 32px 0;
  margin-right: 16px;
  margin-left: 16px;
}

.section-third-employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-third-specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}



.section-third-list-icon {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 100%;

}

.section-third-list-icon-item {}



.section-third-link {
  display: flex;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.section-third-link:hover,
.section-third-link:focus {
  background-color: #404bbf;
}

.soc-icons {
  fill: #f4f4fd;
}

/* section 4 */

.section-fourth {
  padding: 120px 0;
}

.section-fourth-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.section-fourth-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-fourth-photo-caption {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.section-fourth-item {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.section-fourth-tumba {

  position: relative;
  /* width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #bdbdbd; */
  overflow: hidden;

}

.section-fourth-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.section-fourth-item:hover .section-fourth-overlay {
  transform: translatey(0);
  content: none;
}



.section-fourth-titlephoto {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-fourth-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;

}

.footer-container-logo {
  margin-right: 120px;
  /* margin-left: 156px; */
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}


.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-box-soc {
  width: 208px;
  height: 80px;

}

.footer-text-soc {

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}


.footer-box-soc .section-third-link:hover,
.footer-box-soc .section-third-link:focus {
  background-color: #31d0aa;
}


.footer-box-soc .section-third-list-icon {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}


.footer-box-form {
  margin-left: 80px;
  
}

.footer-form-subtitle {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-form {
display: flex;
gap: 24px;

}

.footer-input {
  border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
padding-left: 16px;

font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
}

.footer-input::placeholder {
  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 16px;
}

.footer-form-btn {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 16px;
border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
cursor: pointer;
border: none;


font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}

.footer-btn-icon {
  margin-left: 16px;
}




/* modal */

.modal-overlay {
  background-color: #31d0aa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
     opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon-btn,
.modal-close-btn:focus .modal-close-icon-btn {
  fill: #ffffff;
}


.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;


  margin-bottom: 16px;
}

.modal-form {

}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  
}

.label-box {
  margin-bottom: 8px;
}

.input-box {
  position: relative;
}

.modal-privacy {
  line-height: 1.16;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  width: 16px;
  height: 16px;

}

.modal-label-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.input-logo {
  /* fill: transparent; */
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-input:hover,
.modal-label-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #4D5AE5;
}

/* .modal-label-input:hover .input-logo, */
.modal-label-input:focus + .input-logo {
  fill: #4D5AE5;
}

.input-box-comment {
  margin-bottom: 16px;

}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  line-height: 1.17;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

}

.modal-checkbox-container {

  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}


.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox:checked + .modal-checkbox-label span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}


.modal-send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}